<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Balls</title>
    <link rel="stylesheet" href="semantic/dist/semantic.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<body ng-app='app'>
    {% block content %}
        
    {% endblock %}


    <script src="/angular/angular.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="javascripts/indexController.js"></script>
{% block javascripts %}
    
{% endblock %}