<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Balls</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<body>
    {% block content %}
        
    {% endblock %}